# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/arduino-lcd-keypad-8digits.d
/arduino-lcd-keypad-8digits_flymake.d
/build-uno/
/debug.txt
